body {
  font-family: 'Cinzel', serif;
  background: url('./images/weather.png');
}

.enter {
  opacity: 0;
  z-index: 1;
}

.enter-active {
  opacity: 1;
  transition: opacity 500ms linear 250ms;
}

.exit {
  opacity: 1;
}

.exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}
